doctype html
html
  head
    title Welcome to OrderIt!
    style.
      a{
      text-decoration: none;
      }
      button{
      color:white;
      width:15rem;
      height:3rem;
      background-color:rgb(190,82,31);
      border-radius:1em;
      border:none
      }
  body
    p Hi #{firstName},
    p Welcome to OrderIt! We&apos;re thrilled to have you on board.
    p Start exploring our menu and place your first order today!
    a(href=`${url}`, target='_blank')
      button  GET STARTED
    p If you didn&apos;t create this account, please ignore this email.
